FODE_ADMIN_URL=https://script.google.com/macros/s/YOUR_ADMIN_DEPLOYMENT/exec
FODE_STUDENT_URL=https://script.google.com/macros/s/YOUR_STUDENT_DEPLOYMENT/exec
EXPECTED_VERSION=r213
EXPECTED_VERSION_NUMBER=213
